# Ambiente Python
venv/
.venv/
__pycache__/
*.pyc

#
config/channels.yaml
config/client_secrets.json
config/youtube_token.pickle
*.pickle
TOKEN INSTAGRAM.txt
secrets.txt

# Audio generati (output) — bloccati
output/**/*.mp3
output/**/*.wav

# Audio input (assets) — PERMESSI
!assets/music_input/*.mp3
!assets/music_input/*.wav
!assets/music_input/*.m4a
!assets/music_input/*.flac

# File segreti
.env


# Cache
.cache/config/channels.yaml 
config/client_secrets.json 
config/youtube_token.pickle 
*.pickle 

#NEW CONTENT GENERATION SYSTEM
/src/content_pipeline/*
/config/concepts/*
requirements_additions.txt
INTEGRATION_GUIDE.md
zero_to_system_v2_ARCHITATTURA INTEGRATA.txt